version: '3'

services:
  postgres:
    image: postgres:13.2
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: products
    ports:
      - '5435:5432'
    volumes:
      - './_postgres/:/docker-entrypoint-initdb.d/'
